.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
  }
  
  .box {
    width: 500px;
    height: 500px;
    background-color: rgb(134, 230, 110);
    margin-right: 40px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(139, 67, 0);
  }
  
  button:active {
    background-color: rgb(139, 61, 119);
  }
  